#maps-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.copy-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
}
