.card-container {
  min-width: 22rem;
  width: 22rem;
  height: 29rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: #4a4a4a;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
  transition: all 0.2s ease-in-out;

  &.banned {
    opacity: 0.25;
    border: 1px solid rgb(247, 14, 14);
    pointer-events: none;
  }
  &.picked {
    pointer-events: none;
    border: 1px solid rgb(14, 247, 14);
    filter: drop-shadow(0px 0px 24px rgba(255, 255, 255, 0.05));
  }
  &.starting {
    pointer-events: none;
    border: 1px solid rgb(247, 166, 14);
    filter: drop-shadow(0px 0px 24px rgba(255, 255, 255, 0.05));
  }
}

.map-name {
  margin: 0;
}

.map-image-container {
  min-width: 40%;
  margin: auto;
  transition: all 0.2s ease-in-out;

  .map-image {
    margin: 0;
    transition: all 0.2s ease-in-out;
  }
}

.action-button {
  position: absolute;
  bottom: 1rem;
  width: 10rem;
  transition: 0.2s all;

  &:disabled {
    color: gray;
    background-color: lightgray;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    opacity: 0.75;
  }

  &:active {
    transform: scale(0.9);
  }
}
